body {
  font-family: Arial, sans-serif;
  background-color: #e04545;
}
h1 {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
h2 {
  text-align: center;
  margin-top: 10px;
  color: #666;
  color: #fff;
}
.calculadora {
  width: 314px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(247, 245, 245, 0.1);
}
#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #ab8b8b;
}

input[type="button"]:last-child {
  margin-right: 0;
}